<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).DuplicateSelectedLinesCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).duplicateSelectedLines</string>
					<key>XCSourceEditorCommandName</key>
					<string>Duplicate Selected Lines</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).InitGeneratorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).initGenerator</string>
					<key>XCSourceEditorCommandName</key>
					<string>Init Generator</string>
				</dict>
                <dict>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SortSelectedLinesCommand</string>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>$(PRODUCT_BUNDLE_IDENTIFIER).sortSelectedLines</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>Sort Selected Lines</string>
                </dict>
                <dict>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SplitMultiLinesCommand</string>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>$(PRODUCT_BUNDLE_IDENTIFIER).splitMultiLines</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>Split to Multi Lines</string>
                </dict>
                <dict>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).StringCaseCommand</string>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>$(PRODUCT_BUNDLE_IDENTIFIER).toCamelCase</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>Convert to camelCase</string>
                </dict>
                <dict>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).StringCaseCommand</string>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>$(PRODUCT_BUNDLE_IDENTIFIER).toSnakeCase</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>Convert to snake_case</string>
                </dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).StringCaseCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).toScreamingCase</string>
					<key>XCSourceEditorCommandName</key>
					<string>Convert to SCREAMING_CASE</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>$(PRODUCT_MODULE_NAME).SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
</dict>
</plist>
